
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT")
@import url("../fonts/AvenirLTStd-Roman.otf")
@import url("../fonts/American-Brewery-Rough.ttf")
@import url("https://fonts.googleapis.com/css?family=EB+Garamond")


*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url("../images/vintbottles2.jpg");
	background-size: cover;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;

}

h1{
	font-family: 'American Brewery Rough', serif;
	font-size: 28px;
	color: black;
}

h2{
	font-family: 'American Brewery Rough', serif;
	font-size: .85em;
	color: black;

}

h3{
	font-family: 'Old Standard TT', serif;
	font-size: .65em;
	color: black;

}

h4{
	font-family: 'AvenirLTStd-Roman', serif;
	font-size: .5em;
	color: black;

}

p{
	font-family: 'EB Garamond', serif;
	font-size: .5em;
	color: black;
}